<div class="top-row pl-4 navbar">
    <AntTitle Level="4">Galaxism Libra</AntTitle>
    <AntIcon Class="navbar-toggler-icon" OnClick="ToggleNavMenu" Type="home"></AntIcon>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <Menu Mode="MenuMode.Inline" Class="nav flex-column">
        <SubMenu Title=@((string)"Text")>
            <MenuItem>
                <NavLink href="counter">Text Converter</NavLink>
            </MenuItem>
            <MenuItem>
                <NavLink href="counter">Text Encoder</NavLink>
            </MenuItem>
        </SubMenu>
        <MenuItem>
            <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
        </MenuItem>
        <MenuItem>
            <NavLink href="counter">Counter</NavLink>
        </MenuItem>
        <MenuItem>
            <NavLink href="fetchdata">Fetch Data</NavLink>
        </MenuItem>
    </Menu>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
